<%- include('../partials/head') %> <%- include('../partials/navbar') %>
<h1>Make a new comment</h1>
<form action="/posts" method="post">
  <section>
    <label for="username">Enter username:</label>
    <input type="text" placeholder="username" name="username" id="username" />
    <br />
    <label for="title">Title</label>
    <input type="text" id="title" name="title" placeholder="title" />
    <br />
    <label for="post">Post</label>
    <br />
    <textarea
      id="post"
      type="text"
      placeholder="post"
      name="post"
      cols="30"
      rows="5"
    ></textarea>
    <br />
    <button>Submit</button>
  </section>
</form>
<a href="/posts">Go to posts</a>
<%- include('../partials/footer') %>
